<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAssured-GoogleAPISuite">

  <test name="CalendarAPITest">
    <classes>
      <class name="RestAssuredProject.CalendarAPITest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="GmailAPITest">
    <classes>
      <class name="RestAssuredProject.GmailAPITest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="AbusiveExperienceAPITest">
    <classes>
      <class name="RestAssuredProject.AbusiveExperienceAPITest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
